[mysql]
default-character-set=utf8

[mysqld]
autocommit=1
back_log=128
binlog_cache_size=1M
binlog_format=ROW
default_storage_engine=InnoDB
innodb_data_file_path=ibdata1:1000M:autoextend
innodb_log_buffer_size=16M
innodb_log_file_size=4G
innodb_log_files_in_group=5
query_cache_size=0
query_cache_type=0
read_only=0
slow_query_log=1
sync_binlog=1
transaction_isolation=READ-COMMITTED
lower_case_table_names=1
innodb_file_per_table=ON

basedir=mysql_base_dir
datadir=mysql_data_dir/data
socket=mysql_data_dir/mysql.sock
tmpdir=mysql_data_dir/tmp
pid_file=mysql_data_dir/mysqld.pid
log_error=mysql_base_dir/var/log/mysqld.log
user=root
server_id=1

bind-address=0.0.0.0
character_set_server=latin1
expire_logs_days=1
innodb_flush_method=O_DIRECT
innodb_open_files=1024
key_buffer_size=16M
log_warnings=2
max_binlog_size=67108864
open_files_limit=500000
#read_buffer_size=262144
#read_rnd_buffer_size=524288
skip-ssl
skip-external-locking
skip-name-resolve
skip-slave-start
skip-symbolic-links
slave_net_timeout=60
sort_buffer_size=262144
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO,STRICT_ALL_TABLES
thread_cache_size=128

innodb_buffer_pool_size=250G
max_connections=10728
innodb_flush_neighbors=0
innodb_io_capacity=20000

innodb_page_cleaners=8
innodb_buffer_pool_instances=8

innodb_write_io_threads=24
innodb_read_io_threads=24

#innodb_adaptive_hash_index=0
innodb_max_dirty_pages_pct=20
innodb_purge_threads=24
innodb_flush_log_at_trx_commit=0
performance_schema=OFF

table_open_cache=8000
table_open_cache_instances=24

innodb_doublewrite=0
innodb_checksum_algorithm=none
binlog_checksum=none
innodb_log_checksums=0

#innodb_spin_wait_delay=100
innodb_spin_wait_delay=5
innodb_sync_spin_loops=20


innodb_adaptive_hash_index=1
innodb_adaptive_hash_index_parts=48


#innodb_numa_interleave=1
#innodb_thread_concurrency=24







